body {
    margin: 0;
}
div.content {
    width: 528px;
    font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, Verdana, sans-serif;
    padding: 1em;
}
div#profile {
    float: left;
    padding-right: 1em;
}
div#password {
    float: right;
    padding-left: 1em;
    border-left: 1px solid #ddd;
}
div.wrapper {
    text-align: right;
    line-height: 2em;
    margin-bottom: 1em;
}
div.controls {
    float: right;
}
div.result {
    color: #555;
    font-size: 0.8em;
    float: left;
    width: 150px;
    padding-top: 0.5em;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    body {
        overflow: hidden;
    }
    div.content {
        width: 250px;
        font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, Verdana, sans-serif;
    }
    div#profile {
        float: none;
        padding-right: 0px;
        padding-bottom: 1em;
    }
    div#password {
        float: none;
        padding-left: 0px;
        border-left: none;
        border-top: 0.1em solid #ddd;
    }
    div.wrapper {
        text-align: left;
        line-height: 2em;
        margin-bottom: 0px;
    }
    div.controls {
        float: none;
    }
}
