html,body {
}
body {
    background-color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, Verdana, sans-serif;
    color: #222;
    margin: 0;
}
body.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
a { text-decoration: none; color: inherit; }
h1 { color: #333; }
h2 { color: #555; }
h3 { color: #777; }
ul { margin-left: -25px; list-style-type: none; }
input {
    font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, Verdana, sans-serif;
}
div.body {
    height: 100%;
    width: 100%;
}
div.content {
    margin: 3em auto 0;
    width: 80%;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    body {
        overflow: hidden;
    }
    div.body {
        max-width: 480px;
        height: auto;
    }
    div.content {
        margin: 0 auto;
        width: auto;
    }
}
