<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Warriors Come Out To Play</title>
<%= partial 'common/head' %>
</head>
<body class="preload">
<div class="body">

<%= partial 'common/nav' %>

<div class="content">

<div class="callout">
<p>Warriors, come out to play-yay!</p>
</div>

</div> <!-- end content -->

</div> <!-- end body -->
</body>
<%= partial 'common/floor' %>
</html>
