<!DOCTYPE html>
<html data-ng-app="">
<head>
    <title>Using AngularJS Directives and Data Binding</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script>

function AccountsController($scope) {
    $scope.devices = [
        { id: 1, first_name: 'Nels', last_name: 'Nelson' },
        { id: 2, first_name: 'Nels', last_name: 'Nelson' },
        { id: 3, first_name: 'Nels', last_name: 'Nelson' }
    ];
}

</script>
</head>
<body>
    Name:
    <br />
    <input type="text" data-ng-model="query" /> {{ query }}

    <h2>Non-controller</h2>

    <div class="container" data-ng-init="devices=[
        { id: 1, first_name: 'Nels', last_name: 'Nelson' },
        { id: 2, first_name: 'Nels', last_name: 'Nelson' },
        { id: 3, first_name: 'Nels', last_name: 'Nelson' }
    ]">
        <h3>Looping with the ng-repeat Directive</h3>
        <ul>
            <li data-ng-repeat="device in devices | filter:query | orderBy:'name'"
                id="{{device.device_number}}">{{ device.name }}</li>
        </ul>
    </div>

    <h2>Controller</h2>

    <div class="container" data-ng-controller="AccountsController">
        <h3>Looping with the data-ng-controller Directive</h3>
        <ul>
            <li data-ng-repeat="device in devices | filter:query | orderBy:'name'"
                id="{{device.device_number}}">{{ device.name }}</li>
        </ul>
    </div>
</body>
</html>
