<div class="modal" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Modal</h4>
			</div>
			<div class="modal-body">

				<p class="lead">{{input}}</p>

				<p>This will be returned to the parent scope from the modal: <input type="text" ng-model="output.message"></p>

				<br>
				<button class="btn btn-primary" data-dismiss="modal">Done</button>

			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
