<!DOCTYPE html >
<html ng-app="app">
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Project Name</title>
 
        <!-- Browser favicon -->
        <link rel="shortcut icon" href="favicon.png">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">

        <!-- CSS files -->

        <!-- Uncomment to include modernizer.js
        <script src="lib/js/vendor/modernizr-2.6.2.min.js"></script>
        -->
 
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
 
        <div>

            <div ng-controller="appController">
                <p>{{message}}</p>
                <button class="btn btn-white  navbar-btn" 
                            modal-directive 
                            input="message" 
                            output="fromModal" 
                            modal-id="modal-your-themes" 
                            template="modal.html" 
                            title="my modal">
                                <i class="icon-bar-chart text"></i> Click here to add a message
                            </button> 

                            <p class="lead">{{fromModal.message}}</p>
            </div>
        </div>
 
        <!-- JavaScript libraries -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>


        <script src="bower_components/angular/angular.js"></script>
        <script src="script.js"></script>

 
    </body>
</html>
