
input[type=button],input[type=submit] {
    background-color: rgb(0, 128, 224);
    *background-color: rgb(0, 96, 160);
    background-image: -moz-linear-gradient(top, rgb(0, 129, 224), rgb(0, 64, 128));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(0, 129, 224)), to(rgb(0, 64, 128)));
    background-image: -webkit-linear-gradient(top, rgb(0, 129, 224), rgb(0, 64, 128));
    background-image: -o-linear-gradient(top, rgb(0, 129, 224), rgb(0, 64, 128));
    background-image: linear-gradient(to bottom, rgb(0, 129, 224), rgb(0, 64, 128));
    background-repeat: repeat-x;
    color: #FFFFFF;
    border: 1px solid lightgrey;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em 0.25em;
    border: none;
}
input[type=button]:hover,input[type=submit]:hover {
    opacity: 0.9;
}
a.button {
    cursor: pointer;
}
a.button.close {
    font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255 1.0);
    font-weight: bold;
    font-size: 1.75em;
    border: none;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0.3em 0.5em;
}
a.button:hover {
    color: rgba(0, 0, 0, 0.9);
}
