div.copyright {
    z-index: 1;
    position: fixed;
    bottom: 0px; right: 0px;
    cursor: default;
    color: dimgrey;
    font-size: 0.65em;
    text-align: right;
    padding-right: 1.5em;
    text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
