
div.wrapper label {
    display: none;
}
input[type=text],input[type=email],input[type=password] {
    font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, Verdana, sans-serif;
    font-size: 1em;
    height: 2em;
    width: 225px;
    margin-top: -1.85em;
    padding: 0 6px;
    margin: 0.5em 0.25em;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.8);
}
input[type=text]:hover,input[type=email]:hover,input[type=password]:hover {
    background-color: rgba(250, 250, 250, 0.9);
}
input[type=text]:focus,input[type=email]:focus,input[type=password]:focus {
    background-color: rgba(245, 245, 245, 0.9);
}
input[type=submit] {
    cursor: pointer;
}
div.button {
    text-align: right;
}
