
div.nav {
    color: #ddd;
    background-color: #444;
    *background-color: #111;
    background-image: -moz-linear-gradient(top, #444, #111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#111));
    background-image: -webkit-linear-gradient(top, #444, #111);
    background-image: -o-linear-gradient(top, #444, #111);
    background-image: linear-gradient(to bottom, #444, #111);
    background-repeat: repeat-x;
    padding: 0.5em;
}
div.nav a {
    padding: 0.5em;
}

div.nav a:hover {
    background-color: rgba(255, 255, 255, 0.25);
}