
div#signup-or-login {
    position: absolute;
    width: 528px;
    z-index: 9998;
    font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, Verdana, sans-serif;
    top: 50%;
    left: 50%;
    margin-left: -264px;
    margin-top: -180px;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 20px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 20px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 20px rgba(0, 0, 0, 0.4);
}
div#login {
    float: left;
    padding-right: 1em;
}
div#signup {
    float: right;
    padding-left: 1em;
    border-left: 1px solid #ddd;
}
div.wrapper {
    text-align: right;
    margin-bottom: 1em;
}
div.controls {
    float: right;
}
div.result {
    color: #555;
    font-size: 0.8em;
    float: left;
    width: 150px;
    padding-top: 0.5em;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    body {
        overflow: hidden;
    }
    div#signup-or-login {
        width: 250px;
        z-index: 9998;
        font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, Verdana, sans-serif;
        top: 60px;
        margin: 0 auto 0 -137px;
        background-color: rgba(255, 255, 255, 0.85);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 20px rgba(0, 0, 0, 0.4);
        -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 20px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 20px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 20px rgba(0, 0, 0, 0.4);
    }
    div#login {
        float: none;
        padding-right: 0px;
        padding-bottom: 1em;
    }
    div#signup {
        float: none;
        padding-left: 0px;
        border-left: none;
        border-top: 0.1em solid #ddd;
    }
    div.wrapper {
        text-align: left;
        line-height: 2em;
        margin-bottom: 0px;
    }
    div.controls {
        float: none;
    }
}
