<html>
<body>
<h2>Thank you for registering for Warriors Come Out To Play!</h2>

<p>Please activate your account by visiting this link:</p>

<p><a href="http://<%= domain %><%= ":#{port}" if port != 80 %>/activation?token=<%= token %>">http://<%= domain %><%= ":#{port}" if port != 80 %>/activation?token=<%= token %></a></p>

<p>Enjoy the site!</p>

<p>-The Warriors</p>
</body>
</html>
