Thank you for registering for Warriors Come Out To Play!

Please activate your account by visiting this link:

http://<%= domain %><%= ":#{port}" if port != 80 %>/activation?token=<%= token %>

Enjoy the site!

-The Warriors
