<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Warriors Come Out To Play - Profile for user <%= account.username %></title>
<%= partial 'common/head' %>
<link rel="stylesheet" media="screen, print" href="/css/profile/profile.css" type="text/css"></link>
</head>
<body id="profile" class="preload">
<div class="body">

<%= partial 'common/nav' %>

<div class="content">

<div class="header">
<h1>Profile</h1>
</div>

<h2>User <%= account.username %></h2>

<div id="profile">
    <h3>Contact info</h3>
    <form id="update-profile" action="/profile" method="post">
    <div class="wrapper">
        <label for="profile-first-name">
            First name
        </label>
        <div class="controls">
            <input type="text" name="first" id="profile-first-name" value="<%= account.first_name %>"
                   placeholder="First name" />
        </div>
    </div>
    <div class="wrapper">
        <label for="profile-last-name">
            Last name
        </label>
        <div class="controls">
            <input type="text" name="last" id="profile-last-name" value="<%= account.last_name %>"
                   placeholder="Last name" />
        </div>
    </div>
    <div class="wrapper">
        <label for="profile-email">
            Email
        </label>
        <div class="controls">
            <input type="text" name="email" id="profile-email" value="<%= account.email %>"
                   placeholder="Email" />
        </div>
    </div>
    <div class="wrapper">
        <label for="profile-username">
            Username
        </label>
        <div class="controls">
            <input type="text" name="username" id="profile-username" value="<%= account.username %>"
                   placeholder="Username" />
        </div>
    </div>
    <div class="result"></div>
    <div class="button"><input type="submit" id="profile-submit" value="Update" /></div>
    </form>
</div>

<div id="password">
    <h3>Change your password</h3>
    <form id="modify-password" action="/password" method="post">
    <div class="controls">
        <input type="hidden" name="username" id="profile-username" value="<%= account.username %>" />
    </div>
    <div class="wrapper">
        <label for="profile-last-name">
            Current
        </label>
        <div class="controls">
            <input type="password" name="password" id="profile-password"
                   placeholder="Current password" />
        </div>
    </div>
    <div class="wrapper">
        <label for="profile-last-name">
            New
        </label>
        <div class="controls">
            <input type="password" name="new" id="profile-new-password"
                   placeholder="New password" />
        </div>
    </div>
    <div class="wrapper">
        <label for="profile-last-name">
            Confirm
        </label>
        <div class="controls">
            <input type="password" name="confirm" id="profile-confirm"
                   placeholder="Confirm password" />
        </div>
    </div>
    <div class="result"></div>
    <div class="button"><input type="submit" id="change-password-submit" value="Change" /></div>
    </form>
</div>

</div> <!-- end content -->

</div> <!-- end body -->
</body>
<%= partial 'common/floor' %>
</html>
