<div class="nav">
<a id="home" href="/">Home</a> |
<a id="auth" <% unless cookies[:username].empty? %>style="display: none;"<% end %> href="#">Sign in</a>
<a id="deauth" <% if cookies[:username].empty? %>style="display: none;"<% end %> href="/logout">Sign out</a>
</div>
<%= partial 'common/dialog' %>
