
<div id="signup-or-login" style="display: none;">

<a class="close button">×</a>

<div id="login">
    <h3>Login</h3>
    <form id="login" action="/login" method="post">
        <div class="wrapper">
            <label for="login-userid">
                Username or e-mail address
            </label>
            <div class="controls">
                <input type="text" name="userid" id="login-userid"
                       placeholder="Username or e-mail address">
                </input>
            </div>
        </div>
        <div class="wrapper">
            <label for="login-password">
                Password
            </label>
            <div class="controls">
                <input type="password" name="password" id="login-password"
                       placeholder="Password">
                </input>
            </div>
        </div>
        <div class="result"></div>
        <div class="button"><input type="submit" id="login-submit" value="Login" /></div>
    </form>
</div> <!-- login -->

<div id="signup">
    <h3>Signup</h3>
    <form id="signup" action="/register" method="post">
        <div class="wrapper">
            <label for="signup-email">
                E-mail address
            </label>
            <div class="controls">
                <input type="email" name="email" id="signup-email"
                       placeholder="E-mail address">
                </input>
            </div>
        </div>
        <div class="wrapper">
            <label for="signup-username">
                Username
            </label>
            <div class="controls">
                <input type="text" name="username" id="signup-username"
                       placeholder="Username">
                </input>
            </div>
        </div>
        <div class="wrapper">
            <label for="signup-password">
                Password
            </label>
            <div class="controls">
                <input type="password" name="password" id="signup-password"
                       placeholder="Password">
                </input>
            </div>
        </div>
        <div class="wrapper">
            <label for="signup-confirm-password">
                Password confirmation
            </label>
            <div class="controls">
                <input type="password" name="confirm"  id="signup-confirm"
                       placeholder="Confirm password">
                </input>
            </div>
        </div>
        <div class="result"></div>
        <div class="button"><input type="submit" id="signup-submit" value="Signup" /></div>
    </form>
</div> <!-- signup -->

</div>
